@media (min-width: 992px) {
	.bg-color-grey{
        background-color: gray;
    }
    .remove-border{
        border-width:0px;
        border:none;
        box-shadow: none;
    }
    input:focus {outline:none!important;}
    .bg-color-white{
        background-color: white;
    }
    .search{
        padding: 5px 5px 5px 5px;
    }
}
@media (max-width: 991px){
    .notPhone{
        display: none;
    }
}

@media (max-width: 1199.98px) {
	.pc_container{
		display: none;
	}
}
@media (min-width: 1199.99px) {
	.alert_container{
		display: none;
	}
}